<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoogleAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <GoogleAPI.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>14895</value>
            </setting>
            <setting name="FileDataStore" serializeAs="String">
                <value>Mindbox.Drive.Auth.Store</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>TestClient</value>
            </setting>
            <setting name="UploadProjectUri" serializeAs="String">
                <value>https://www.googleapis.com/upload/drive/v2/files/{0}</value>
            </setting>
            <setting name="ListFilesUri" serializeAs="String">
                <value>https://script.google.com/feeds/download/export?id={0}&amp;format=json</value>
            </setting>
        </GoogleAPI.Properties.Settings>
    </applicationSettings>
</configuration>